@model Boolean

@{
    String name = "IsComplete";
    if (ViewBag.name != null)
    {
        name = ViewBag.name;
    }

    var index = ViewBag.index;
    var btn_class = "";
    var glyph = "";
    var initial_value = Model.ToString().ToLower();

    if (Model)
    {
        btn_class = "btn-success";
        glyph = "glyphicon-check";
    }
    else
    {
        btn_class = "btn-danger";
        glyph = "glyphicon-unchecked";
    }
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.iscomplete-editor-@index').unbind('click').click(function () {
            var input = $(this).parent().find('input');

            console.log(input);
            console.log(input.val);

            //Change the value
            if ($(input).data('value') === "true") {
                $(input).data('value', "false");
            } else {
                $(input).data('value', "true");
            }

            var glyph = $(this).find('.glyphicon');

            //Remove class from span
            glyph.removeClass('glyphicon-check');
            glyph.removeClass('glyphicon-unchecked');
            $(this).removeClass('btn-success');
            $(this).removeClass('btn-danger');

            //Update class for span
            if ($(input).data('value') === "true") {
                glyph.addClass('glyphicon-check');
                $(this).addClass('btn-success');
            } else {
                glyph.addClass('glyphicon-unchecked');
                $(this).addClass('btn-danger');
            }
        });
    });
</script>

@*
@if (Model)
{
    <input type="hidden"  class="form-control"for="@name" name="@name" value="false" />
}
else
{
    <input type="hidden"  class="form-control" for="@name" name="@name" value="true" />
}
*@

<input type="hidden" class="form-control" for="@name" name="@name" value="@initial_value" />

<div class="iscomplete-editor-@index btn @btn_class">
    <span class="glyphicon @glyph"></span>
</div>

