
@* The ', new { }' is needed because there isn't an ActionLink() override for just adding an id (which is strange to me) -TC *@

<li>@Html.ActionLink("Availability", "Index", "Availabilities", new { id = 0 }, new { })</li>
<li>@Html.ActionLink("Categories", "Index", "Categories", new { id = 0 }, new { })</li>
<li>@Html.ActionLink("Events", "Index", "Events", new { id = 0 }, new { })</li>

@* Gets current user on the back-end. *@
<li>
    <a href="@Url.Action("Schedule", "Events", new { id = Digital_Planner.Controllers.AccountController.CurrentUser(User.Identity).Id })">Schedule</a>
    @* @Html.ActionLink("Schedule", "Schedule", "Events", new { id = Digital_Planner.Controllers.AccountController.CurrentUser(User.Identity).Id })*@
</li>