@model Digital_Planner.Models.Event

@{
    ViewBag.Title = "Create";
    ViewBag.index = 0;
}
<script type="text/javascript">
    $(document).ready(function () {
        $('form').on('submit', function () {
            //Set the recurrences
            $(this).attr('action', $(this).attr('action') + $('#recurrence_counter').val());
        })
        $('#recurrence_counter').change(function () {
            //Ensure min/max
            if ($(this).val() > 24) {
                $(this).val("24");
            }
            if ($(this).val() < 0) {
                $(this).val("0");
            }
        });
    });
</script>
<h2>Create</h2>

@using (Html.BeginForm("Create", "Events", new { recurrence = 0 }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Event</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", placeholder = "Title" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.AutoAssign, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AutoAssign)@*, new { htmlAttributes = new { @class = "form-control" } }) *@
                @Html.ValidationMessageFor(model => model.AutoAssign, "", new { @class = "text-danger" })
            </div>
        </div>


        @{ ViewBag.index++; }
        @{ ViewBag.date_time = Model.OccursAt; }
        @{ ViewBag.name = "OccursAt"; }
        <div class="form-group">
            @Html.LabelFor(model => model.OccursAt, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OccursAt, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OccursAt, "", new { @class = "text-danger" })
                
            </div>
        </div>

        @{ ViewBag.index++; }
        @{ ViewBag.time = Model.Duration; }
        @{ ViewBag.name = "Duration"; }
        <div class="form-group">
            @Html.LabelFor(model => model.Duration, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
            </div>
        </div>

        @{ ViewBag.name = "Priority"; }
        <div class="form-group">
            @Html.LabelFor(model => model.Priority, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Priority, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Priority, "", new { @class = "text-danger" })
            </div>
        </div>

        @{ ViewBag.index++; }
        @{ ViewBag.date_time = Model.CompleteBy; }
        @{ ViewBag.name = "CompleteBy"; }
        <div class="form-group">
            @Html.LabelFor(model => model.CompleteBy, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CompleteBy, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CompleteBy, "", new { @class = "text-danger" })
            </div>
        </div>

        @* TC - Why create an event if it is already complete? (Needs to be included, for validations... - Default value is false) *@

        @{ ViewBag.name = "IsComplete"; }
        @Html.HiddenFor(model => model.IsComplete)
        @*
        <div class="form-group">
            @* @Html.LabelFor(model => model.IsComplete, htmlAttributes: new { @class = "control-label col-md-2", }) * @
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsComplete)
                    @* @Html.ValidationMessageFor(model => model.IsComplete, "", new { @class = "text-danger" }) * @
                </div>
            </div>
        </div>
        *@

        <div class="form-group">
            @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control", placeholder = "Location" } })
                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
            </div>
        </div>

        @* TODO - Replace with [current_user] * @
        @Html.HiddenFor(model => model.DPUserID) *@
        
        <div class="form-group">
            @Html.LabelFor(model => model.UserID, "UserID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UserID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
            </div>
        </div>
        

        @* TODO - Limit to [current_user]'s categories *@
        <div class="form-group">
            @Html.LabelFor(model => model.CategoryID, "CategoryID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CategoryID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoryID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="contrl-label col-md-2 text-right">Recurrence</label>
            <div class="col-md-10">
                This event occurs once a week for the next&nbsp;<input id="recurrence_counter" class="text-center" type="number" min="0" max="24" value="0" style="opacity:1"/>&nbsp;weeks.
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.Partial("_PreviousPageHyperlink")
    @* @Html.ActionLink("Back to List", "Index") *@
</div>
