@model Digital_Planner.Models.User
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "Registration Failed, fields.")
    <div>
        <fieldset>
            <legend>Register Form</legend>
            <div class="editor-label">@Html.LabelFor(u=> u.FirstName)</div>
            <div class="edior-field">@Html.TextBoxFor(u=> u.FirstName)
                @Html.ValidationMessageFor(u=>u.FirstName)
            </div>
            <div class="editor-label">@Html.LabelFor(u=> u.LastName)</div>
            <div class="editor-field">@Html.TextBoxFor(u=> u.LastName)
                @Html.ValidationMessageFor(u=> u.LastName)
            </div>
            <div class="editor-label">@Html.LabelFor(u=> u.Email)</div>
            <div class="editor-field">@Html.TextBoxFor(u=> u.Email)
                @Html.ValidationMessageFor(u=> u.Email)
            </div>
            <div class="editor-label">@Html.LabelFor(u=> u.Password)</div>
            <div class="editor-field">@Html.PasswordFor(u=> u.Password)
                @Html.ValidationMessageFor(u=> u.Password)
            </div>
            <input type="submit" value="Register" />
        </fieldset>
    </div>
}

