@model Digital_Planner.Models.Availability

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Day</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OccursAt)
        </dt>

        <dd>
            @Model.OccursAt.ToString("M/d/yyy h:mm tt")
            @* @Html.DisplayFor(model => model.OccursAt) *@
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AvailabilityID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
