@model Digital_Planner.Models.Availability

@{
    ViewBag.Title = "Edit";
    ViewBag.index = 0;
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Availabilities", new { id = Model.AvailabilityID }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Day</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.AvailabilityID)


        @{ ViewBag.index++; }
        @{ ViewBag.date_time = Model.OccursAt; }
        @{ ViewBag.name = "OccursAt"; }
        <div class="form-group">
            @Html.LabelFor(model => model.OccursAt, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OccursAt, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OccursAt, "", new { @class = "text-danger" })
            </div>
        </div>


        @{ ViewBag.index++; }
        @{ ViewBag.time = Model.Duration; }
        @{ ViewBag.name = "Duration"; }
        <div class="form-group">
            @Html.LabelFor(model => model.Duration, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.DPUserID, "DPUserID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DPUserID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DPUserID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
