@using Digital_Planner.Models;
@model IEnumerable<Availability>

@{
    ViewBag.Title = "Index";
}

<h2>My Availabilities</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OccursAt)
        </th>
        
        @* Categories are DPUser-specific, so this isn't needed. -TC
        <th>
            @Html.DisplayNameFor(model => model.DPUser.FirstName)
        </th>
        *@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @item.OccursAt.ToString("M/d/yyy h:mm tt")
            @* @Html.DisplayFor(modelItem => item.OccursAt) *@
        </td>
        
        @* Categories are DPUser-specific, so this isn't needed. -TC
        <td>
            @Html.DisplayFor(modelItem => item.DPUser.FirstName)
        </td>
        *@
        <td>
            @Html.Partial("_Edit-Detail-Delete_Buttons", new Tuple<System.Web.Mvc.ControllerBase, int>(ViewContext.Controller, item.AvailabilityID))
        </td>
    </tr>
}

</table>
